:root {
	font-family: 'Geist', sans-serif;

	--card-width-small: 134px;
	--card-width-medium: 268px;
	--card-width-large: 326px;
	--link-color-hover: var(--sl-color-sky-600, skyblue);
	--top-nav-active-shadow: 0 2px 8px rgb(0 0 0 / 14%);
	--bg-clr: #fff;
	--source-color: var(--sl-color-gray-800);
}

:root[data-theme='dark'] {
	color-scheme: dark;
	/* background-color: #202124;
				color: #bdc1c6; */
	--top-nav-active-shadow: 0 2px 8px rgb(255 255 255 / 25%);
	--bg-clr: #121212;
}

html {
	height: 100vh;
	overflow-y: scroll;
}

body {
	font-size: 1rem;
	margin: 0;
	padding: 0;

	height: 100vh;
}

@font-face {
	font-family: 'Geist';
	src: url('/Geist-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'fontin';
	font-weight: normal;
	font-style: normal;
	src: url('/fontin.woff') format('woff');
}

.toast-link {
	color: white;
}

.toast-link:hover {
	color: var(--sl-color-sky-600, skyblue);
}

e-topnav::part(active-link) {
	view-transition-name: active-link;
}

p-card::part(card),
p-home::part(active-card),
p-source::part(active-card),
p-weights::part(active-card),
p-maps::part(active-card) {
	view-transition-name: card;
}

p-home::part(active-source),
p-source::part(source),
p-verify::part(active-source),
p-card::part(active-source),
p-maps::part(active-source) {
	view-transition-name: active-source;
}
